body {
    position: relative;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2px;
    margin-top: 45px;
}

img {
    width: 23%;
}

.form {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgb(43, 161, 177);
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
}

.form1 {
    display: none;
}

.form2 {
    display: none;
}

.form3 {
    display: none;
}

.form4 {
    display: none;
}

.form5 {
    display: none;
}

#d {
    width: 186px;
    height: 164px;
}

#f{
    width: 50px;
    height: 30px;
    margin-top: 7px;
    font-weight: 700;
    border-radius: 7px;
}
#f:hover{
    background-color: black;
    color:purple;
}

#try {
    display: none;
    margin-top: -6px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
}
#try:hover{
    background-color: black;
    color:purple;
}

input {
    width: 76%;
    margin-top: 14px;
    margin-bottom: 21px;
    height: 28px;
    border-radius: 4px;
    background-color: black;
    color: white;
}
#submit{
    margin-top: 5px;
    width: 65px;
    border-radius: 11px;
}
#submit:hover{
    background-color: black;
    color: purple;
}